<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676438809748-sn1is1foiuhtfbfi02t0374rqm2c8oq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676438809748-sn1is1foiuhtfbfi02t0374rqm2c8oq8</string>
	<key>API_KEY</key>
	<string>AIzaSyB0LABLNmH4wcMhOPqD6LunMa8OeT7G_5U</string>
	<key>GCM_SENDER_ID</key>
	<string>676438809748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Keith-Nelson.TestingDatabase</string>
	<key>PROJECT_ID</key>
	<string>safeconnect-4df87</string>
	<key>STORAGE_BUCKET</key>
	<string>safeconnect-4df87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676438809748:ios:69ce61a295fba86621e881</string>
	<key>DATABASE_URL</key>
	<string>https://safeconnect-4df87.firebaseio.com</string>
</dict>
</plist>